@import "tailwindcss";

@theme {
  --color-background: #0F0F17;
  --color-surface: #16161F;
  --color-surface2: #1E1E2E;
  --color-border: #2A2A3D;
  --color-accent: #7C6AF7;
  --color-accent2: #A78BFA;
  --color-success: #4ADE80;
  --color-warning: #FB923C;
  --color-error: #F87171;
  --color-info: #60A5FA;

  --font-sans: 'Inter', sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
}